div {
    display: grid;
}

.my-grid {
    height: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: [first] 200px [second] auto [third] 200px [end];
    grid-template-rows: [row1-start] 15% [row1-end] 15% [row2-end] 15% [row3-end] auto [end];
  
    background-color: lightcyan;

}

.count1 {
    background-color: aquamarine;
    grid-column-start: first;
    /* If you skip grid-column-end, you occupy one column grid-column-end: col4-start; */
    grid-row-start: row1-start;
    grid-row-end: row1-end;
}

.top-right {
    background-color: aquamarine;
    grid-column-start: five;
    grid-column-end: end;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
}

ul li {
    list-style: none;
}